* {
    min-height: 0;
    min-width: 0;
}
body, html {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: Corbel, sans-serif;
    font-size: 20px;
    background-color: #f3f8f8;
}

@import url('https://fonts.googleapis.com/css?family=Arimo:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.head-container {
    padding-top: 30px;
    border-bottom:   1px solid rgba(193, 193, 193, 0.5);
}

#header {
    background-color: #f3f8f8;
    width: 100%;
    position: relative;
    top: 0;
    font-family: 'Arimo', sans-serif;
    color:  #178d97;
}

.big_cellphone {
    background-color:  #178d97;
    width: 350px;
    height: 53px;
    color:  #ffffff;
    font-size: 2.2em;
    font-weight: 700;
    text-align: right;
    padding-right: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.big_cellphone:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 53px solid transparent;
    border-right: 53px solid #178d97;
    position: absolute;
    top: 0;
    left: -53px;
}

#label {
    margin-left: 30px;
    width: 40%;
}

#label img {
    cursor: pointer;
}

#label a {
    text-decoration: none;
}

#label-pic {
    width: 19%;
}
#avic {
    width: 79%;
}

#up_up {
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
    padding-top: 33px;
    font-family: 'Tahoma', sans-serif;
    font-size: 1.15em;
    text-align: right;
    padding-right: 20px;
}

.grig-cont {
    height: 68px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
        "sityarea topmenu"
}

#sityarea {
    font-weight: 800;
    padding-left: 16px;
    padding-top: 15px;
    grid-area: sityarea;
}

.sity {
    padding: 0 20px;
    position: relative;
    line-height: 5px;
    height: 30px;
    display: inline-block;
}

.sity:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 30px;
    background: url("../img/city.png") no-repeat;
}

#topmenu {
    grid-area: topmenu;
    margin: 0;
    /*display: none;*/
    /*когда появятся кнопки - нужно будет прописать flex*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#topmenu li {
    list-style: none;
}

.hide {
    display: none!important;
}

#topmenu li:nth-child(2) {
    margin-right: 50px;
}

.topmenu_bottom {
    background-color:  rgba(53, 223, 255, 0.23);
    display: block;
    height: 25px;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #178d97;
    font-weight: 800;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.topmenu_bottom:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 41px solid rgba(255, 255, 255, 0);
    border-right: 41px solid rgba(53, 223, 255, 0.23);
    position: absolute;
    top: 0;
    left: -41px;
    transition: 0.5s;
}

.topmenu_bottom:hover {
    color: #f3f8f8;
    background-color: #178d97;
}

.topmenu_bottom:hover::before {
    border-right-color: #178d97;
}

#mobMenu {
    display: none;
}

label.mobMenu {
    display: none;
    background-color: #16727c;
    color: #f3f8f8;
    position: absolute;
    right: 2%;
    top: 7px;
    padding: 1px 6px;
    font-size: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

/*label.mobMenu:hover {*/
    /*color: #178d97;*/
    /*background-color: rgba(23, 141, 151, 0.23);*/
/*}*/

/*-----------------END HEADER-----------------------*/

/*---------------------WRAPPER----------------------*/

#wrapper {
    background-color: #f3f8f8;
}
.grid-homepage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "headSlider headSlider headSlider"
            "main main main"
            "pictures pictures pictures"
            "info info info"
            "attention attention attention"
}
#head_slider {
    grid-area: headSlider;
}

#head_slider img {
    width: 100%;
    height: 100%;
 }

.slide {
    position: relative;
    display: flex!important;
    justify-content: center;
}

.sl_1, .sl_2, .sl_3 {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    position: absolute;
    display: block;
    bottom: 50%;
    transform: translate(0, 50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:  #ffffff;
    font-size: 2.2em;
}

.sl_1 {
    left: 0;
}

.sl_3 {
    right: 0;
}

#main {
    background: url("../img/bg_logo.png") center no-repeat;
    background-size: contain;
    grid-area: main;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.article {
    margin: 0 1% 0 5%;
    width: 27.33%;
}

.article h4 {
    color:  #178d97;
    font-size: 1.65em;
    font-weight: 800;
    text-align: center;
    font-family: "Arimo", sans-serif;
    margin-bottom: 0;
}

.article img {
    display: block;
    margin: 0 auto;
}

.mail, .phone {
    display: block;
    position: relative;
    margin-left: 65px;
    margin-bottom: 30px;
    line-height: 40px;
}

.phone {
    padding-top: 1px;
}

.mail:before {
    content: '';
    position: absolute;
    top: 0;
    left: -65px;
    width: 60px;
    height: 60px;
    background: url("../img/mail.png") no-repeat;
}

.watsapp {
    position: absolute;
    top: 10px;
    left: -65px;
    width: 55px;
    height: 55px;
    background: url("../img/call.png") no-repeat;
    animation: call  2s infinite ease;
    z-index: 0;
}

.watsapp:after,
.watsapp:before {
    content: '';
    position: absolute;
    border: 1px solid #29aee3;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
    z-index: -1;
}

.watsapp:after {
    animation-delay: 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.watsapp a{
    display: block;
    width: 100%;
    height: 100%;
}

#pictures {
    grid-area: pictures;
    background-color:  #047d86;
    overflow: hidden;
    padding-bottom: 10px;
}

#pictures h4 {
    color:  #ffffff;
    font-size: 1.65em;
    font-weight: 800;
    text-align: center;
    font-family: "Arimo", sans-serif;
    margin: 10px;
}

.img-list {
    padding: 0;
    margin: 0.5em 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1.77fr 1fr 1.77fr 1fr 1fr;
}

.img-list li {
    display: block;
    margin: 0 5%;
    text-align: center;
}

.img-list li img {
    width: 100%;
}

.sub-text {
    display: grid;
    grid-template-columns: 1.77fr 1fr 1.77fr 2fr;
}

.sub-text p {
    display: block;
    text-align: center;
    margin: 0 5%;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: 400;
}

.prod1, .prod3, .prod5 {
    position: relative;
}

.prod1:after {
    content: '';
    position: absolute;
    bottom: -25%;
    right: -5%;
    width: 17.77%;
    height: 30%;
    background: url("../img/price_ticket_big.png") no-repeat;
    background-size: contain;
}

.prod5:after {
    content: '';
    position: absolute;
    bottom: -25%;
    right: -5%;
    width: 32%;
    height: 30%;
    background: url("../img/price_ticket_small.png") no-repeat;
    background-size: contain;
}

.prod3:after {
    content: "";
    position: absolute;
    bottom: -18%;
    right: -5%;
    width: 30%;
    height: 40%;
    background: url("../img/discont.png") no-repeat;
    background-size: contain;
}

/*-------------	СТИЛИ ОВЕРЛЕЯ И СЛАЙДЕРА ----------*/

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0;
    display: none;
    overflow-y: auto;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.lightbox figure {
    display: block;
    height: 80%;
    position: relative;
    z-index: 2;
    width: 80%;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    padding: 0;
}


.next, .prev {
    position: absolute;
    color:#fff;
    cursor: pointer;
    width: 10%;
    height: 100%;
    font-size: 2em;
}

.prev {
    left: 1%;
    top: 0;
}

.next {
    right: 1%;
    top: 0;
}

.lightbox figure img {
    height: 100%;
}

#informations {
    grid-area: info;
    padding-left: 3%;
}

#informations h5 {
    color:  #047d86;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#informations p {
    color:  #000000;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
}

#attention {
    grid-area: attention;
    color:  #000000;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
}

.color {
    color:  #047d86;
}
/*--------------------END WRAPPER---------------------*/

/*---------------------FOOTER-----------------------*/

#footer {
    background-color:  #047d86;
    font-family: "Open Sans", sans-serif;
    color:  #ffffff;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
}

.grid-footer {
    display: grid;
    /*grid-template-columns: 2fr 3fr;*/
    grid-template-columns: 2fr 1fr 1fr 3fr;
    /*включить, когда появятся другие страницы*/
    grid-template-rows: 1fr;
}

.uslugi {
    margin-top: 12px;
}
.company {
    margin-top: 22px;
}
.see_as {
    margin-top: 45px;
    /*выключить display:none когда появятся другие страницы*/
    /*display: none;*/
}

.ul-footer {
    /*выключить display:none когда появятся другие страницы*/
    /*display: none;*/
}

#footer li {
    list-style: none;
    padding-top: 10px;
}
#footer a {
    text-decoration: none;
    color: #ffffff;
}
#footer a:hover {
    color: #d6d6d6;
}

.copyright {
    text-align: right;
    margin-top: 94px;
    padding-right: 34px;
}

/*--------------------END FOOTER------------------*/

/*----------------------FORM-----------------------------*/

.form-wrapper {
    position: relative;
    z-index: 999;
}

.form-container {
    position: fixed;
    top: 50%;
    left: -170px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    transition: 0.5s;
}

.form-container:hover {
    left: -155px;
}

.toggleForm:checked ~ .form-container {
    left: 50%;
}

.formBox {
    border: 4px solid #16727c;
    padding: 30px;
    background: #f3f8f8;
}

.toggleForm {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: rotate(-90deg);
    background: #178d97;
    color: #f3f8f8;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px 0;
    border: 2px solid #16727c;
    border-radius: 0 0 8px 8px;
    width: 90%;
    top: 15px;
    cursor: pointer;
}

.toggleForm[type="checkbox"] {
    display: none;
}

.inputBox {
    position: relative;
    margin: 0 0 20px;
}

.labelText {
    position: absolute;
    line-height: 55px;
    font-size: 18px;
    color: #8b8b8b;
    transition: .5s;
}

.focus-input .labelText {
    transform: translateY(-33px);
    font-size: 14px;
    color: #178d97;
}

.userInput {
    position: relative;
    background: transparent;
    width: 100%;
    height:	50px;
    font-size: 20px;
    color: #575454;
    outline: none;
    border: none;
    border-bottom: 1px solid #a5a5a5;
}

textarea {
    margin-top: 12px;
    resize: none;
}

.form-button {
    background: #178d97;
    color: #f3f8f8;
    width: 45%;
    height: 35px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    /*margin-left: 50%;*/
    cursor: pointer;
    transition: 0.5s;
}

.form-button:hover {
    background: rgba(32, 138, 143, 0.8);
}

.personalDoc {
    display: block;
    width: 55%;
    float: left;
    font-size: 12px;
    color: #575454;
}

.mail-send {
    display: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 315px;
    margin: 10px 0 0;
    text-align: center;
    background-color: #f3f8f8;
    border-right: 4px solid #16727c;
    border-left: 4px solid #16727c;
}

.mail-send p {
    margin: 70px 20px;
}

label.form-button {
    padding: 10px 50px;
}



/*------------------------END FORM------------------------------*/

/*---------------------KONTAKTY-------------------------------*/

.contact-container {
    max-width: 800px;
    width: 94%;
    margin: auto;
    text-align: center;
}



.contact-inf {
    margin: auto;
}

.mail-cont, .phone-cont {
    display: inline-block;
}

.phone-cont {
    margin-left: 80px;
}

.cont-formBox {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.cont-mail-send {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #16727c;
}

/*-------------------------END KONTAKTY----------------------------*/



















/*-------------------СТРАНИЦА ERROR-------------------------*/

.error-cont {
    text-align: center;
}

.error-cont h1 {
    color: #178d97;
    padding-top: 20px;
}

.error-cont a,
.contact-container a,
.personalDoc a {
    color: #178d97;
    text-decoration: none;
}

.error-cont a:hover,
.contact-container a:hover,
.personalDoc a:hover{
    text-decoration: underline;
}


/*-------СТИЛИ КНОПКИ ВЕРНУТЬСЯ НА ГЛАВНУЮ--------*/

.btn-to-home {
    width: 256px;
    margin: 30px auto;
}

.button-to-home {
    border: 3px solid #178d97;
    border-radius: 8px;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    z-index: 1;
}

.button-to-home::before,
.button-to-home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #178d97;
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: -1;
}

.button-to-home::before {
    opacity: 0.5;
}

.button-to-home::after {
    transition-delay: .1s;
}

.button-to-home:hover {
    color: #fff;
}

.button-to-home:hover::before,
.button-to-home:hover::after {
    left: 0;
}

/*---------------------------ADAPTIVE-------------------------------*/

@media all and (max-width: 1300px) {
    .toggleForm {
        transform: none;
        border-radius: 8px 8px 0 0;
        position: relative;
        width: 80%;
        top: unset;
    }
    .form-container {
        bottom: -542px;
        right: -150px;
        top: unset;
        left: unset;
    }
    .form-container:hover {
        bottom: -532px;
        left: unset;
    }
    .toggleForm:checked ~ .form-container {
        top: 50%;
        bottom: unset;
        right: unset;
    }
    #footer {
        padding-bottom: 50px;
    }
    .mail-send {
        margin: 50px 0 0;
    }
    .cont-mail-send {
        margin: 0;
    }
}



@media all and (max-width: 1022px) {
    #up_up p {
        font-size: 0.9em;
    }
}

@media all and (max-width: 974px) {
    #footer ul {
        -webkit-padding-start: 10px;
    }
    .see_as {
        margin-top: 25px;
    }
    #main {
        padding-bottom: 40px;
    }
    #attention {
        padding-right: 4%;
    }
}

@media all and (max-width: 910px) {
    #up_up p {
        font-size: 0.8em;
    }
    .grig-cont {
        height: 40px;
    }
    #sityarea {
        padding-top: 0;
    }
}

@media all and (max-width: 870px) {
    #topmenu {
        display: none;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 1;
        width: 100%;
    }
    #topmenu li a{
        border-bottom: 1px solid #d6d6d6;
    }
    #topmenu li a:first-child {
        border-top: 1px solid #d6d6d6;
    }
    .topmenu_bottom {
        background-color: rgba(23,141,151,0.9);
        color: white;
        text-align: right;
    }
    #topmenu li:nth-child(2) {
        margin-right: 0;
    }
    #topmenu .hide {
        display: inherit!important;
    }

    .topmenu_bottom:hover {
        color: #178d97;
        background-color: #f3f8f8;
    }
    .topmenu_bottom:before {
        display: none;
    }
    label.mobMenu {
        /*включить display:block когда появятся другие страницы*/
        display: block;
        /*выключить display:none когда появятся другие страницы*/
        /*display: none;*/
    }
    input.mobMenu:checked + label.mobMenu {
        color: #178d97;
        background-color: #f3f8f8;
    }
    input.mobMenu:checked ~ #topmenu {
        display: block;
    }
    #sityarea {
        display: none;
    }
    .head-container {
        margin-top: 50px;
    }
    .grig-cont {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: rgba(23,141,151,0.9);
        z-index: 2;
        grid-template-columns: 0 1fr;
    }
    #main {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .article {
        width: 44%;
        margin: 0 2%;
        text-align: center;
    }
    .article ul{
        text-align: left;
    }
    .article:last-child {
        width: 94%;
    }
    .article:last-child h4 {
        margin-top: 0;
    }
    .mail, .phone {
        display: inline-block;
        margin-left: 75px;
        margin-top: 0;
    }
    .mail {
        margin-left: 0;
    }
    .phone {
        padding-top: 0;
    }
}

@media all and (max-width: 811px) {
    body {
        font-size: 18px;
    }
    .lightbox figure img {
        height: auto;
        width: 100%;
    }
    /*label.mobMenu {*/
        /*top: 95px;*/
    /*}*/
}

@media all and (max-width: 747px) {
    #avic {
        width: 50%;
    }
    #up_up {
        width: 65%;
    }
    .sl_1, .sl_2, .sl_3 {
        font-size: 1.5em;
    }
    .grid-footer {
        grid-template-columns: 3fr 1fr 2fr 3fr;
        /*включить, когда появятся страницы дополнительные*/
    }
    /*label.mobMenu {*/
        /*top: 90px;*/
    /*}*/
    /*.sity {*/
        /*font-size: 0.8em;*/
        /*line-height: 20px;*/
    /*}*/

}

@media all and (max-width: 632px) {
    #up_up p {
        font-size: 0.6em;
        -webkit-margin-before: 2em;
    }
    .grid-footer {
        grid-template-columns: 3fr 1fr 3fr;
        /*включить, когда появятся страницы дополнительные*/
    }
    #footer ul, .see_as {
        display: none;
    }
    /*.sity {*/
        /*padding: 0 0 0 20px;*/
    /*}*/
}

@media all and (max-width: 585px) {
    .big_cellphone {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .head-container {
        padding-top: 60px;
    }
}

@media all and (max-width: 540px) {
    .article {
        width: 96%;
    }
    .article h4 {
        -webkit-margin-before: 0;
    }
    h5 {
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
    }
    #attention p {
        -webkit-margin-before: 0;
    }
    /*#sityarea {*/
        /*display: none;*/
    /*}*/
}

@media all and (max-width: 490px) {
    #up_up, #up_up p {
        position: relative;
        margin: 0 auto 10px;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    /*#sityarea {*/
        /*display: none;*/
    /*}*/
    /*.grig-cont {*/
        /*height: 0;*/
    /*}*/
    .mail {
        margin-left: 65px;
    }
    .sl_1, .sl_2, .sl_3 {
        font-size: 1.2em;
    }
    .grid-footer {
        grid-template-columns: 3fr 0fr 3fr;
        /*включить, когда появятся страницы дополнительные*/
    }
    .copyright {
        font-size: 0.7em;
    }
    /*label.mobMenu {*/
        /*top: 55px;*/
    /*}*/
}

@media all and (max-width: 400px) {
    body {
        font-size: 16px;
    }
    .big_cellphone {
        height: 40px;
    }
    .head-container {
        padding-top: 60px;
    }
    /*label.mobMenu {*/
        /*top: 45px;*/
    /*}*/
    ul#topmenu {
        top: 81px;
    }
    .form-container {
        bottom: -550px;
    }
    .form-container:hover {
        bottom: -550px;
    }
}

@media all and (max-width: 355px) {
    .sl_1, .sl_2, .sl_3 {
        font-size: 1em;
    }
    .form-container {
        width: 100%;
    }
}

@media all and (max-height: 400px){
    .formBox {
        padding: 10px;
    }
    .form-container {
        bottom: -490px;
    }
    .form-container:hover {
        bottom: -490px;
    }
    .mail-send {
        height: 290px;
    }
}